# copy this file into config.yaml and add your own stuff
GOOGLE_APPLICATION_CREDENTIALS : "path/to/key.json"
FLASK_HOST: "0.0.0.0"
FLASK_PORT : 3001
FLASK_DEBUG: true
FIRESTORE_EMULATOR_HOST: firestore_emulator:8200
FIRESTORE_PROJECT_ID: dummy-project-id